.switchDiv{
    padding-top: 100px;
    min-height: 75vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.flexItem{
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
}
.titleSwitch{
    font-size: 20px;
    font-weight: 400;
}
.ParagraphText{
    width: 60%;
}
.buttonIcons{
    width: 40%;
    border: none;
}
.buttonIcons:hover{
    background: #98c1d9;
    color: #293241;
    border: none;
}
.linkButton{
    width: 100%;
}
@media screen and (max-width:1000px) {
    .flexItem{
        width:100%;
        margin-bottom:70px;
    }
}