.loginDiv{
    border: 1px solid gray;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 35px;
    box-shadow: 0px 0px 10px #293241;
    background-color: white;
    border-radius: 5%;
  }
  .inputLogin{
    margin-bottom: 15px;
    border: 1px solid gray;
    width: 90%;
    font-style: italic;
    height: 30px;
  }
  .inputLogin:focus{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    outline: 0;
  }
  .Transition{
    width: 100%;
    height: 1px;
    background: linear-gradient(270deg, rgba(0,0,0,0) 0%, #98c1d9 50%, rgba(0,0,0,0) 100%);
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .imgLogin{
      width: 64px;
      height: 64px;
  }
  .alignCenterLogin{
      margin: auto;
      text-align: center;
      width: 100%;
  }
  .buttonLogin{
    width: 50%;
  }
  .linkLogin{
    width: 100%;
  }
  .buttonLogin:hover{
    background: #98c1d9;
    color: #293241;
    border: none;
  }
    @media screen and (max-width:1000px){
    .loginDiv{
        width: 70%;
    }
}